<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista de producto</h1>
    <div style="color: red;"><%=error%></div>
    <div>
        <a href="/producto/nuevo">+</a>
        <table>
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>categoria</th>
                <th></th>
                <th></th>
            </tr>
            <% for(i=0;i<lista.length;i++){%>
            <tr>
                <td><%=lista[i].nombre%></td>
                <td><%=lista[i].precio%></td>
                <td><%=lista[i].categoria%></td>
                <td> <a href="/producto/edit/<%=lista[i]._id%>">editar</a> </td>
                <td> <a onclick="return confirm('Esta seguro de borrar')" 
                    href="/producto/borrar/<%=lista[i]._id%>">borrar</a> </td>
            </tr>
            <% }%>
        </table>
    </div>

</body>
</html>